<center><h1 style="margin-bottom: 3rem; text-decoration: underline;">My Friends</h1></center>


<% if @friends.blank? %>
    <center><h4>You have no friends.</h4></center>
<%else%>
        <%= render "users/list", obj: @friends %>
<%end%>

